<h1 class="text-2xl font-semibold mb-4">Editar Compañía</h1>

<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <%= render "form", company: @company %>
</div>

<div class="mt-4">
  <%= link_to "Volver a compañías", companies_path, class: "bg-gray-500 hover:bg-gray-600 text-white font-semibold py-2 px-4 rounded" %>
</div>
