<li>
  <% if page.current? %>
    <span class="px-3 py-2 leading-tight text-blue-600 bg-blue-50 border border-blue-300"><%= page %></span>
  <% else %>
    <%= link_to page, url, {remote: remote, rel: page.rel, class: "px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"} %>
  <% end %>
</li> 